
@{
    ViewBag.Title = "Xacnhandonhang";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>Chúc mừng bạn đã đặt hàng thành công!</h2>
<p>
    @Html.ActionLink("Về trang chủ","Index","Home")
</p>
